<div class="container">
  <div class="row">
    <div class="col s12"><h1 class="left-align">Title</h1><div class="divider"></div></div>
      <div class="col s12 card-panel" id="content">
        <p><%= contents %></p>
      </div>
      <div class="row">
       <form id ="comment" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Comment</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% include ./footer.ejs %>