<nav>
    <div class="nav-wrapper">
      <a href="/index" class="brand-logo center"><i class="material-icons" id="logo-icon">cloud</i>Anonymous Board</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons" id="nav-icon">search</i></a></li>
        <li><a href="#"><i class="material-icons" id="nav-icon">view_module</i></a></li>
        <li><a href="#"><i class="material-icons" id="nav-icon">refresh</i></a></li>
        <li><a href="#"><i class="material-icons" id="nav-icon">more_vert</i></a></li>
      </ul>
    </div>
  </nav>