<div class="container">
  <div class="row">
    <div class="col s12 left-align">
      <h1 class="left-align">Publishing</h1>
    </div>
    <form action="col s12" id="post">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="write-content" class="materialize-textarea"></textarea>
          <label for="write-content">Content</label>
          <input type="button" class= "btn" value="게시하기">
        </div>
      </div>
    </form>
  </div>
</div>
<% include ./footer.ejs %>
<script>
$('#write-content').val('New Text');
$('#write-content').trigger('autoresize');
</script>
