@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import 'variables';
* {
  font-family: $font-sans;
  color: $color-font;
  text-align: center;
  font-weight: 300;
}

nav {
  background-color: $color-darkgray;
}

.article-text {
  color: $color-font;
}

#logo-icon {
  color: #fff;
}

#nav-icon {
  color: #fff;
}

h1 {
  color: $color-font;
  font-weight: $font-weight-B;
  font-size: $font-size-XXL;
}

.board-list {
  height: $height-board;
  margin: 20px;
}

.board-list>li {
  font-size: $font-size-R;
  line-height: 36px;
}

#main-btn {
  font-size: $font-size-S;
  color: #fff;
  margin-right: -35px;
  margin-bottom: 10px;
  background-color: $color-main;
  &:hover {
    color: #fff;
    background-color: $color-main-suv;
  }
}

#list-icon {
  font-size: $font-size-R;
  margin-right: 10px;
  color: $color-darkgray;
}

#content {
  height: $height-board / 1.5;
}

//pagination
.pagination {
  li.active {
    background-color: $color-main;
  }
}

//admin page
#del-btn {
  background-color: transparent;
  box-shadow: none;
  &>#list-icon {
    color: $color-main;
    font-size: $font-size-XL;
    text-shadow: 1px 1px rgba($color-lightgray, .9);
  }
}