@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import 'variables';

* {
  font-family: $font-sans;
  color: $color-font; 
  text-align: center;
  font-weight: 300;
}

#logo-icon {
  color: #fff;
}

h1 {
  font-weight: $font-weight-R;
  font-size: $font-size-XL;
}

.board-list {
  height: 400px;
  margin: 20px;
}

.board-list > li{
  font-size: $font-size-R;
  line-height: 36px;
}

#main-btn{
  margin-right: -35px;
  margin-bottom: 10px;
}

#list-icon {
  font-size: $font-size-R;
  margin-right: 10px;
  color: $color-darkgray;
}
